* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p, h1, h2, h3, h4, h5 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

ins {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-index {
  margin-top: 120px;
  margin-bottom: 80px;
  min-height: 600px;
}

.hidden {
  display: none;
}

.button {
  background: #000000 !important;
  color: #FFFFFF !important;
  border: 1px solid #000000 !important;
  border-radius: 0% !important;
  text-transform: uppercase;
  font-weight: normal !important;
  transition: 0.2s;
  height: 37px;
}

.button:hover, .button-noupe:hover {
  background:  #FFFFFF !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
}

.button-noupe, .checkout-button , #place_order, .single_add_to_cart_button, .edit-account .woocommerce-Button, .woocommerce-form-login__submit {
  display: flex !important;
  background: #000000 !important;
  color: #FFFFFF !important;
  height: 50px !important;
  text-transform: uppercase !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  padding: 10px 14px !important;
  font-size: 1.125rem !important;
  border-radius: 0% !important;
  margin-left: auto !important;
  padding: 10px 14px !important;
  max-width: 300px !important;
  width: 100%;
  font-weight: normal !important;
  border: 1px solid #000000 !important;
}

.introduction .tag {
  font-weight: bold !important;
}

.introduction .tag:hover {
  opacity: 1 !important;
}