.introduction {
  background: url('../images/banner.jpg') no-repeat center;
  width: 100%;
  height: 700px;
  background-size: cover;
  margin-top: 80px;
}

.introduction .container {
  height: 700px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.subtitle {
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 75px;
  margin-bottom: 17px;
  font-size: 2rem;
}

[data-action] {
  display: none !important;
}
.tns-controls{
 display: flex;
 justify-content: center;
}

.tns-controls img{
  width: 40%;
}


.tns-controls button{
  border: none;
  transition: all 0.2s;
}

.tns-controls button:hover{
  opacity: 0.5;
}

.tns-controls button:focus {
  outline: 0 !important;
}

 

    