.button-filters, .menu-mobile {
  display: none !important;
}

@media (max-width: 1300px) {
  .container {
    width: 800px;
  }

  .products-shop .products-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .all-products .products-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-list :nth-child(9){
    display: flex;
  }

  .related .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .related .products-list :nth-child(4){
    display: none;
  }

  .menu, .account {
    width: 15%;
  }
}

@media (max-width: 850px) {

  .subtitle{
    margin-top: 30px;
  }

  .slide-wrapper{
    margin-bottom: 20px;
  }

  .hide{
    display: none !important;
  }

  .menu-mobile {
    display: flex !important;
  } 
  
  .menu-mobile .menu {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
  }

  .menu-mobile .menu .cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cart-count {
    margin-left: 10px;
  }

  .header img {
    width: 100px;
  }

  .related .container .subtitle{
    margin-top: 40px;
  }

  .related {
    height: 100%;
    margin: 40px 0;
  }

  .related .container {
    height: 100%;
  }

  .product-description {
    display: flex;
    flex-direction: column;
  }
  .product-detail {
    margin-top: 40px;
    width: 100%;
  }

  .product {
    display: flex;
    flex-direction: column-reverse;
  }

  .product-gallery {
    display: block;
    width: 100%;
  }

  .product-gallery-main {
    display: none;
  }

  .button-filters {
    display: block !important;
    width: 100%;
    margin-bottom: 20px !important;
  }

  .products-archive {
    padding: 20px 0;
  }

  .container {
    width: 400px;
  }

  .woocommerce-account.logged-in .woocommerce { 
    grid-template-columns: 1fr;
  }

  .products-archive {
    grid-template-columns: 1fr;
  }

  .coupon .button {
    font-size: 80% !important;
  }

  #coupon_code {
    width: 132px !important;
  }

  .products-list {
    grid-template-columns: 1fr !important;
  }

  .product-info img {
    width: 100%;
  }
  .footer .container div img {
    width: 115px;
  }

  .footer form input {
    width: calc(200px - 40px);
    margin-left: 20px;
  }

  .introduction, .introduction .container {
    height: 550px;
  }

  .product-description div h4 {
    margin-top: 15px;
  }

  .menu, .account {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }

  .footer label {
    font-size: 0.875rem;
  }

  .footer form input {
    width: calc(140px - 40px);
  }
  
  .footer .container div img {
    width: 100px;
  }

  .footer .container {
    height: 250px;
  }
  .footer-copy .container {
    height: 45px;
  }
}

