.product {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-gallery {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
}

.product-gallery-list img {
  margin-bottom: 20px;
}

.breadcrumb {
  margin-top: 100px;
}

.product-detail {
  margin-left: auto;
}

.product-detail small {
  display: block;
  color: rgba(0, 0, 0, .5);
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-detail h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px; 
}

.product-detail .product-price {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.125rem;
}

.product-detail h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px; 
  margin-top: 30px;
}

.product-detail .reset_variations, .product-detail .stock , .product-detail .quantity{
  display: none !important;
}

.product-detail .button {
  display: flex !important;
  background: #000000 !important;
  color: #FFFFFF !important;
  height: 50px !important;
  width: 300px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-size: 1rem !important;
  justify-content: end !important;
  align-items: flex-end !important;
  padding: 10px 14px !important;
  font-size: 1.125rem !important;
  border-radius: 0% !important;
  margin-left: auto !important;
}

.product-detail .button.disabled {
  opacity: .5;
  cursor: initial;
}