.product {
  border-bottom: 1px solid #000000;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-gallery {
  width: 50%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
}

.product-gallery-main img {
  height: 660px;
  width: 480px;
  object-fit: cover;
  object-position: center;
}

.product-gallery-list img {
  margin-bottom: 20px;
}

.breadcrumb {
  margin-top: 100px;
  border-bottom: 1px solid #000000;
}

.product-detail {
  width: 50%;
  padding: 0 0 5% 5%;
  text-align: right;
}

.product-detail small {
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: black;
  padding: 5px 8px;
}

.product-detail h1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 10px 0 25px 0;
  text-transform: uppercase;

}

.product-detail .product-price {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 3rem;
}


.product-detail del{
  font-weight: 400;
}
.product-detail select{
  background: #f0f0f0;
  border: none;
  height: 40px;
  width: 200px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  padding-left: 8px;
}

.product-detail option{
  font-weight: 700 !important;
  text-transform: uppercase;
  padding: 12px 8px;
}
.product-detail label{
  text-transform: uppercase;
  font-weight: 900 !important;
  font-size: 1.25rem !important;
}
.product-detail h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px; 
  margin-top: 30px;
}

.product-detail .reset_variations, .product-detail .stock , .product-detail .quantity {
  display: none !important;
}

.button-noupe.disabled, .single_add_to_cart_button.disabled, .woocommerce button.button:disabled {
  opacity: 1 !important;
  cursor: pointer !important;
}

.product-description {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0.875rem;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 5%;
}

.product-description a:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s;
}

.product-description col {
  font-size: 0.875rem;
  font-weight: lighter;
  display: flex;
}

.table table {
  width: 100%;
  text-transform: uppercase;
  vertical-align: center;
}

.table table thead tr {
  text-align: center;
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.75rem; 
}

.table table tbody td {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: #EEEEEE;
  border-bottom: 1px solid white;
}

.product-description p {
  font-size: 0.875rem;
  font-weight: lighter;
}

.product-description ul {
  display: flex;
}

.product-description ul li { 
  margin: 2px;
}

.product-description h4 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

.product-description ul:last-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-description ul:last-child li {
  margin: 6px 5px 6px 0;
}

.product-description ul:last-child a {
  font-size: 0.75rem;
  text-align: center;
  padding: 5px 8px;
  color: #333333;
  background-color: #EEEEEE;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
}

.product-description div:last-child h4:nth-last-of-type(1) {
  margin-top: 15px;
}
.related {
  height: 700px;
  display: flex;
  align-items: center;
  background: url(../images/bg-trocar.jpg);
  padding-top: 1px;
}


.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: none !important;
}

.woocommerce div.product form.cart .variations select {
  margin-right: 0 !important;
}

.woocommerce div.product form.cart .variations td.label {
  padding-right: 0 !important;
}
