.slide-wrapper {
  overflow: hidden;
  margin-bottom: 75px;
}

.slide {
  display: flex;
}



.slide img {
  max-width: none;
  width: 100%;
}

.slide-button {
  border: none;
  background: #FFFFFF;
  cursor: pointer;
  margin-left: 140px;
  margin-right: 140px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.slide-button img {
  width: 35px;
}

.tns-controls button{
  border: none;
  background-color: transparent;
  color: white;
  padding: 15px;

}