.variations_form .variations tr {
  display: flex;
  flex-direction: column;
}

.variations_form .variations .value {
  margin-bottom: 20px;
}

.variations_form .label label {
  font-size: 1.5rem;
}

.woocommerce-breadcrumb a, .woocommerce-breadcrumb {
  color: #000000 !important;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error {
  background: #EEEEEE;
  border: none;
  color: #000000;
  font-weight: lighter;
  padding: 16px;
}

.woocommerce-message, .woocommerce-info li, .woocommerce-error li {
  vertical-align: middle;
  line-height: 37px;
}

.woocommerce-message::before, .woocommerce-info::before, .woocommerce-error::before {
  display: none;
}

.woocommerce-error {
  border-left: 4px solid #7D1423
}

.woocommerce-message, .woocommerce-info {
  border-left: 4px solid #596B39;
}

.woocommerce table.shop_table, .login {
  border-radius: 0 !important;
}

.woocommerce #coupon_code {
  width: 135px;
  margin-right: 10px;
}

.woocommerce .input-text {
  font-size: 1 !important;
  padding: 10px 15px !important;
}

.woocommerce form .form-row {
  padding: 3px 0;
}

#payment {
  background: none !important;
}

.methods {
  padding: 0 0 15px 0 !important;
}

.place-order {
  padding: 15px 0 0 0 !important;
}

.qty {
  width: 30% !important;
}

.login p:nth-of-type(3), .login p:nth-of-type(4)  {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.login p:nth-of-type(3) {
  flex-direction: column-reverse;
}

.login p:nth-of-type(3) .button {
  margin: 0 !important;
}

/* My Account */
.woocommerce-account h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-account.logged-in .woocommerce { 
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;
}
.woocommerce-account.logged-in .woocommerce::before, .woocommerce-account.logged-in .woocommerce::after {
  display: none;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation, .woocommerce-account.logged-in .woocommerce-MyAccount-content {
  width: auto;
  float: none;
}

.woocommerce-MyAccount-navigation ul {
  background-color: #111111;
}

.woocommerce-MyAccount-navigation a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, .08);
}

.woocommerce-MyAccount-navigation a:hover, .woocommerce-MyAccount-navigation .is-active a {
  background-color: rgba(255, 255, 255, .04);
}

.woocommerce-MyAccount-content p {
  margin-bottom: 1rem;
}

.woocommerce-MyAccount-content button {
  margin-top: 15px !important;
}

.woocommerce .woocommerce-customer-details addres {
  border-width: 1px;
  border-radius: 0px;
}

.woocommerce-MyAccount-content p {
  font-size: 1.25rem;
}

.woocommerce-MyAccount-content a {
  text-decoration: underline;
}

.checkout .col-1 {
  width: 100% !important;
}

/* Archive */
.products-archive {
  display: grid;
  grid-template-columns: 220px 1fr;
}

/* Order */
.woocommerce-ordering {
  margin-bottom: 20px;
  margin-left: auto;
  float: none !important;
}

.woocommerce-ordering select {
  font-size: 1rem;
}